<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div th:replace = "fragments :: navigation"></div>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}" />
        <label>
            <select class="form-select" th:field="${eventTag.tag}">
                <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
            </select>
        </label>
    </div>
    <input type="submit" class="btn btn-success" value="Add Tag" />
</form>

<div th:replace = "fragments :: usernav"></div>

</body>
</html>