<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container">

    <div th:replace = "fragments :: navigation"></div>

    <form method="post" th:action="@{/events/create}">
        <div class="form-group">
            <label>Event Name
                <input type="text" th:field="${event.name}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Event Description
                <input type="text" th:field="${event.eventDetails.description}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.eventDetails.description}"></p>
        </div>
        <div class="form-group">
            <label>Event Category
                <select class="form-select" th:field="${event.eventCategory}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">default option</option>
                </select>
            </label>
            <p class="error" th:errors="${event.eventCategory}"></p>
        </div>
        <div class="form-group">
            <label>Location (City)
                <input type="text" th:field="${event.eventDetails.location}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.eventDetails.location}"></p>
        </div>
        <div class="form-group">
            <label>Event Date
                <input type="date" th:field="${event.eventDetails.eventDate}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.eventDetails.eventDate}"></p>
        </div>
        <div>Registration Required?</div>
        <div class="form-check">
            <input class="form-check-input" id="radio-yes" type="radio" th:field="${event.eventDetails.regRequired}" value="true" />
            <label class="form-check-label" for="radio-yes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" id="radio-no" type="radio" th:field="${event.eventDetails.regRequired}" value="false" />
            <label class="form-check-label" for="radio-no">No</label>
            <p class="error" th:errors="${event.eventDetails.regRequired}"></p>
        </div>
        <div class="form-group">
            <label>Number Attending
                <input type="number" th:field="${event.eventDetails.numAttend}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.eventDetails.numAttend}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input type="email" th:field="${event.eventDetails.contactEmail}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event, Fool!" class="btn btn-success"/>
        </div>
    </form>

    <div th:replace = "fragments :: usernav"></div>

</body>
</html>

