<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container">
    <h1>Create New Event</h1>
    <div th:replace = "fragments :: navigation"></div>

    <form method="post" th:action="@{/events/create}">
        <div class="form-group">
            <label>Event Name
                <input type="text" th:field="${event.name}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Event Description
                <input type="text" th:field="${event.description}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input type="text" th:field="${event.contactEmail}" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event, Fool!" class="btn btn-success"/>
        </div>
    </form>


</body>
</html>