<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Edit Event</h1>
<div th:replace = "fragments :: navigation"></div>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <input type="hidden" th:value="${event.uid}" name="uid" />
        <label>Event name
            <input type="text" name="name" th:value="${event.name}" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label>Event Description
            <input type="text" name="description" th:value="${event.description}" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label>Location (City)
            <input type="text" th:field="${event.location}" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" name="contactEmail" th:value="${event.contactEmail}" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit Event" class="btn btn-primary"/>
    </div>
</form>


</body>
</html>