<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>
<div th:replace = "fragments :: navigation"></div>
<p>Here are the coding events in your area. If you know of others, feel free to add the event to the list.</p>

<th:block th:unless="${events} and ${events.size()}">
    <hr>
    <p>There are currently no events. Please add one if you know of any.</p>
</th:block>

<table th:if="${events} and ${events.size()}" class="table table-striped">
    <thead>
    <tr>
        <th>Event ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Must Register?</th>
        <th>Contact Email</th>
        <th>Edit Event</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.uid}">Default ID yo</td>
        <td th:text="${event.name}">Default list thingy</td>
        <td th:text="${event.description}">Default description</td>
        <td th:text="${event.location}">Default location</td>
        <td th:text="${event.regRequired}">Default reg</td>
        <td th:text="${event.contactEmail}"></td>
        <
        <td>
            <a th:href="@{/events/edit/{uid}(uid=${event.uid})}">Edit</a>
        </td>
    </tr>
</table>

</body>
</html>

<!--

-->