<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace = "fragments :: navigation"></div>
<p>Use this form to create a new event category.</p>
<hr>

<form method="post">
    <div class="form-group">
        <label>Category Name
            <input type="text" th:field="${eventCategory.name}" class="form-control"/>
        </label>
        <p class="error" th:errors="${eventCategory.name}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Category" class="btn btn-primary"/>
    </div>
</form>

<div th:replace = "fragments :: usernav"></div>

</body>
</html>